node_modules/
storybook-static/
.storybook/
temp/
coverage/

src/storybook/

.idea/
.vscode/

.gitignore

rollup.config.mjs
jest.config.js
babel.config.js
tsconfig.json

src/**/*.stories.*
src/**/*.test.*

secret.txt
diamondlightsource-sci-react-ui*.tgz
