node_modules/
temp/
coverage/

storybook-static/
.storybook/
src/storybook/

.idea/
.vscode/

.github/
.gitignore

rollup.config.mjs
jest.config.js
babel.config.cjs
tsconfig.json

src/**/*.stories.*
src/**/*.test.*

secret.txt
diamondlightsource-sci-react-ui*.tgz

tsconfig.tsbuildinfo